{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-{{ cor }} text-white">
                <h4 class="mb-0">{{ titulo }}</h4>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                
                    <div class="mb-3">
                        <label class="form-label">Descrição</label>
                        <!-- O value verifica se existe 'transacao', se sim, mostra a descricao -->
                        <input type="text" name="descricao" class="form-control" value="{{ transacao.descricao if transacao else '' }}" required>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Valor (R$)</label>
                        <!-- Mostra o valor antigo se existir -->
                        <input type="text" name="valor" class="form-control" value="{{ transacao.valor if transacao else '' }}" placeholder="Ex: 3.601,51" required>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Data</label>
                        <input type="date" name="data" class="form-control" value="{{ transacao.data if transacao else '' }}" required>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-{{ cor }}">Salvar Alterações</button>
                        <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}