<!-- app/templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-12 text-center">
        <h1 class="display-5 fw-bold text-primary">Bem-vindo ao MyWallet</h1>
        <p class="lead">Seu gerenciador financeiro pessoal, simples e direto.</p>
        
        <hr class="my-4">
        
        <!-- Botões de ação rápida para testarmos o visual -->
        <a href="{{ url_for('adicionar_receita') }}" class="btn btn-success btn-lg shadow-sm m-2">
            + Nova Receita
        </a>
        <a href="{{ url_for('adicionar_despesa') }}" class="btn btn-danger btn-lg shadow-sm m-2">
            - Nova Despesa
        </a>
    </div>
</div>
<!-- TABELA DE TRANSAÇÕES -->
<div class="row mt-5">
    <div class="col-md-12">
        <h3>Ultimas Movimentações</h3>
        <div class="table-responsive">
            <table class="table table-hover mt-3 shadow-sm">
                <thead class="table-primary">
                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in transacoes %}
                    <tr>
                        <td>{{ t.id }}</td>
                        <td>{{ t.descricao }}</td>
                        <td class="fw-bold {% if t.categoria.tipo == 'Receita' %}text-success{% else %}text-danger{% endif %}"> R${{ t.valor }}</td>
                        <td>{{ t.data.strftime('%d/%m/%Y') }}</td>
                        <td>
                            <div class="d-flex gap-2">
                                <!-- Botão Editar -->
                                <a href="{{ url_for('editar', id_transacao=t.id) }}" class="btn btn-sm btn-outline-warning">
                                    Editar
                                </a>
                                <a href="{{ url_for('deletar', id_transacao=t.id) }}" 
                                class="btn btn-sm btn-outline-danger"
                                onclick="return confirm('Tem certeza que deseja excluir esta transação?')">
                                Excluir
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center text-muted">Nenhuma transação cadastrada ainda.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}